## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/

# carlton add start
src/serviceAccountKey.json
lib/serviceAccountKey.json
# carlton add start
